<html>
<%= javascript_include_tag :defaults %>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td><%= @genre.name %></td>
    <td><%= @genre.desc %></td>
  </tr>
</table>
<%= link_to "List", genres_path %>
<%= link_to "edit", edit_genre_path %>
<%= link_to "delete", @genre, :method => :delete, :confirm => "Are you sure?" %>
</html>