<html>
<%= javascript_include_tag :defaults %>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td><%= @publisher.name %></td>
    <td><%= @publisher.desc %></td>
  </tr>
</table>
<%= link_to "List", publishers_path %>
<%= link_to "edit", edit_publisher_path %>
<%= link_to "delete", @publisher, :method => :delete, :confirm => "Are you sure?"%>
</html>