<%
  book ||= @book
%>
<div content= "container">
  <%= form_for book, :remote => true  do |b|%>
    <div content = "field">
      <%= b.label :name %>
      <%= b.text_field :name %>
    </div>
    <div content = "field">
      <%= b.label :year %>
      <%= b.text_field :year %>
    </div>
    <div content = "field">
      <%= b.label :author %>
      <%= b.collection_select :author_id, Author.all, :id, :name %>
    </div>
    <div content = "field" >
      <%= b.label :subgenre %>
      <%= b.collection_select :subgenre_id, Subgenre.all, :id, :name %>
    </div>
    <div content = "field" >
      <%= b.label :publisher %>
      <%= b.collection_select :publisher_id, Publisher.all, :id, :name %>
    </div>
    <div content = "field" >
      <%= b.label :price %>
      <%= b.text_field :price, :value => number_with_precision(b.object.price, :precision => 2) %>
    </div>
    <%= link_to "Back", books_path %>
    <%= b.submit %>
  <% end %>
</div>